body {
    font-family: "Jersey 15", sans-serif;
    background-color: #c0c0c0;
}

#quiz-container, #score-container {  
    background-color: #c0c0c0;
    width: 50%;  
    margin: 50px auto;  
    padding: 10px;  

    /* Win98 raised window border */
    border-top: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    border-bottom: 2px solid #808080;
    border-right: 2px solid #808080;

    border-radius: 0;
}

#options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    gap: 10px;

}

button {
    width: 150px;
    background-color: #c0c0c0;
    padding: 6px 12px;
    font-family: inherit;
    font-size: 14px;

    border-top: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    border-bottom: 2px solid #808080;
    border-right: 2px solid #808080;

    cursor: pointer;
}

.disabled {
    color: #808080;
    background-color: #c0c0c0;
    border-top: 2px solid #dfdfdf;
    border-left: 2px solid #dfdfdf;
    border-bottom: 2px solid #a0a0a0;
    border-right: 2px solid #a0a0a0;
    cursor: default;
}

.title-bar {
    background: linear-gradient(to right, #000080, #1084d0);
    color: white;
    padding: 4px 8px;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
}

.hidden {
    display: none;
}